<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Chat UI</title>
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" href="../static/Styles/utility.css" />
    <link rel="stylesheet" href="../static/Styles/chatbot.css" />
</head>

<body>

<div class="wrapper">
    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="logo">
            <img src="../static/images/main-logo.png" alt="Strong Brain Logo">
            <span>MOOD MAP</span>
        </div>
        <a href="/blog">BLOG</a>
        <a href="/about">ABOUT</a>
        <a href="/login" id="login-btn">LOGIN</a>
    </div>

    <!-- Navbar
    <nav>
        <div class="logo">
            <img src="logo.PNG" alt="logo">
        </div>
        <h2>MoodMap</h2>
    </nav> -->

    <!-- Main Area (starts in landing mode) -->
    <div class="main landing" id="main">

        <!-- Center Logo (hidden after first chat) -->
        <div class="logo big-logo" id="centerLogo">
            <img src="logo.PNG" alt="logo">
        </div>

        <!-- Chat Messages (hidden until chat starts) -->
        <div class="chat-messages hidden" id="chatMessages"></div>

        <!-- Chat Bar -->
        <div class="chat-bar">

            <div class="icon">
                <i class="fa-solid fa-microphone"></i>
            </div>

            <input
                id="userInput"
                class="chat-input"
                placeholder="What's in your mind today ?" />

            <div class="send-btn">
                <i class="fa-solid fa-arrow-right"></i>
            </div>

        </div>

    </div>

</div>
<!-- 
<script src="index.js"></script> -->
<script SRC="../static/Scripts/chatbotScript.js"></script>
<script src="../static/Scripts/utilityScript.js"></script>
</body>
</html>
